/*
!.gitignore
!Lab1/
!Lab2/
!Lab3/
!Lab4/
!Lab5/
!Lab6/

Lab1/
!*.cpp
!*.c
!*.txt

Lab2/
!*.cpp
!*.c
!*.txt

Lab3/
!*.cpp
!*.c
!*.txt

Lab4/
!*.cpp
!*.c
!*.txt

Lab5/
!*.cpp
!*.c
!*.txt

Lab6/
!*.cpp
!*.c
!*.txt

