/*
!.gitignore
!Lab1/*
!Lab2/*
!Lab3/*
!Lab4/*
!Lab5/*
!Lab6/*

Lab1/
!Lab1/*.cpp
!Lab1/*.c
!Lab1/*.txt

Lab2/
!Lab2/*.cpp
!Lab2/*.c
!Lab2/*.txt

Lab3/
!Lab3/*.cpp
!Lab3/*.c
!Lab3/*.txt

Lab4/
!Lab4/*.cpp
!Lab4/*.c
!Lab4/*.txt

Lab5/
!Lab5/*.cpp
!Lab5/*.c
!Lab5/*.txt

Lab6/
!Lab6/*.cpp
!Lab6/*.c
!Lab6/*.txt

